In [15]:
import pandas as pd
import os
from missingpy import MissForest

In [16]:
os.getcwd()

'/Users/ankitaagrawal/Documents/MS COURSES/capstone'

In [17]:
#df = pd.read_csv("OperMargin_withmissing_1yearshift.csv")
df = pd.read_csv("ProfitMargin_withmissing_1yearshift.csv")
#df = pd.read_csv("CashFlow_withmissing_1yearshift.csv")
df= df[df.columns[1:]]

In [18]:
df = df[~df["Date"].isnull()]

In [19]:
df.isnull().any()

Date                         False
Company                      False
PE                            True
PCF                           True
DIV                           True
PB                            True
DEBTEQ                        True
MKTVAL                        True
Unemployment_rate             True
CPI                           True
GDP CURY Index                True
NFIB                          True
Financial_Stress_Index        True
Consumer_confidence_index     True
Jobless_Claims                True
ISM_Manufacturing_index       True
PM_Target                    False
dtype: bool

In [20]:
df.columns

Index(['Date', 'Company', 'PE', 'PCF', 'DIV', 'PB', 'DEBTEQ', 'MKTVAL',
       'Unemployment_rate', 'CPI', 'GDP CURY Index', 'NFIB',
       'Financial_Stress_Index', 'Consumer_confidence_index', 'Jobless_Claims',
       'ISM_Manufacturing_index', 'PM_Target'],
      dtype='object')

In [21]:
col_mis_values = [ 'PE', 'PCF', 'DIV', 'PB', 'DEBTEQ', 'MKTVAL',
       'Unemployment_rate', 'CPI', 'GDP CURY Index', 'NFIB',
       'Financial_Stress_Index', 'Consumer_confidence_index', 'Jobless_Claims',
       'ISM_Manufacturing_index']

In [22]:
df.head()

,Date,Company,PE,PCF,DIV,PB,DEBTEQ,MKTVAL,Unemployment_rate,CPI,GDP CURY Index,NFIB,Financial_Stress_Index,Consumer_confidence_index,Jobless_Claims,ISM_Manufacturing_index,PM_Target
0,2008-03-31,AA,1.3924,10.1850,2.6414,1.3924,53.7279,46905.2106,5.0,4.0,3.1,90.1,1.239,65.86,387.0,49.7,-11.9846
1,2008-06-30,AA,1.2993,11.5921,2.3878,1.2993,51.7124,46510.2415,5.3,5.0,2.9,89.7,1.080,50.97,392.0,49.9,-10.6975
2,2008-09-30,AA,0.8988,10.9805,3.0142,0.8988,67.2353,36279.4609,6.0,4.9,2.1,92.8,2.783,61.37,483.0,47.2,1.6685
3,2008-12-31,AA,0.5760,5.5049,8.5456,0.5760,73.8069,29181.5737,6.9,0.1,-0.8,85.1,3.352,38.62,533.0,34.5,-5.0985
4,2009-03-31,AA,0.4311,3.5414,12.4722,0.4311,68.3203,26350.4989,8.3,-0.4,-1.8,81.6,2.668,26.90,665.0,37.2,-4.1130

In [23]:
df_missing = df[col_mis_values]

imputer = MissForest()
X_imputed = imputer.fit_transform(df_missing.values)
part1 = pd.DataFrame(data = X_imputed, columns = col_mis_values )

Iteration: 0
Iteration: 1

In [24]:
df.columns

Index(['Date', 'Company', 'PE', 'PCF', 'DIV', 'PB', 'DEBTEQ', 'MKTVAL',
       'Unemployment_rate', 'CPI', 'GDP CURY Index', 'NFIB',
       'Financial_Stress_Index', 'Consumer_confidence_index', 'Jobless_Claims',
       'ISM_Manufacturing_index', 'PM_Target'],
      dtype='object')

In [25]:
#col_no_mis = ['Company', 'Date', 'OM_Target']
col_no_mis = ['Company', 'Date', 'PM_Target']
# col_no_mis = ['Company', 'Date', 'CF_Target']
#cat_var = ['Company Name', 'Year', 'Quarter']
part2 = df[col_no_mis].reset_index()
df_no_miss = pd.concat([part1, part2], axis =1 )

In [26]:
df_no_miss.isnull().any()

PE                           False
PCF                          False
DIV                          False
PB                           False
DEBTEQ                       False
MKTVAL                       False
Unemployment_rate            False
CPI                          False
GDP CURY Index               False
NFIB                         False
Financial_Stress_Index       False
Consumer_confidence_index    False
Jobless_Claims               False
ISM_Manufacturing_index      False
index                        False
Company                      False
Date                         False
PM_Target                    False
dtype: bool

In [28]:
df_no_miss.to_csv("ProfitMargin_target_1_yr.csv", index = False)

In [29]:
df_no_miss.head()

,PE,PCF,DIV,PB,DEBTEQ,MKTVAL,Unemployment_rate,CPI,GDP CURY Index,NFIB,Financial_Stress_Index,Consumer_confidence_index,Jobless_Claims,ISM_Manufacturing_index,index,Company,Date,PM_Target
0,1.3924,10.1850,2.6414,1.3924,53.7279,46905.2106,5.0,4.0,3.1,90.1,1.239,65.86,387.0,49.7,0,AA,2008-03-31,-11.9846
1,1.2993,11.5921,2.3878,1.2993,51.7124,46510.2415,5.3,5.0,2.9,89.7,1.080,50.97,392.0,49.9,1,AA,2008-06-30,-10.6975
2,0.8988,10.9805,3.0142,0.8988,67.2353,36279.4609,6.0,4.9,2.1,92.8,2.783,61.37,483.0,47.2,2,AA,2008-09-30,1.6685
3,0.5760,5.5049,8.5456,0.5760,73.8069,29181.5737,6.9,0.1,-0.8,85.1,3.352,38.62,533.0,34.5,3,AA,2008-12-31,-5.0985
4,0.4311,3.5414,12.4722,0.4311,68.3203,26350.4989,8.3,-0.4,-1.8,81.6,2.668,26.90,665.0,37.2,4,AA,2009-03-31,-4.1130

### BAckward and Forward filling

In [161]:
df_missing = df[col_mis_values]

In [162]:
part1 = df_missing.fillna(method='ffill').fillna(method='bfill')
#col_no_mis = ['Company', 'Date', 'OM_Target']
col_no_mis = ['Company', 'Date', 'PM_Target']
#col_no_mis = ['Company', 'Date', 'CF_Target']
#cat_var = ['Company Name', 'Year', 'Quarter']
part2 = df[col_no_mis].reset_index()
df_no_miss = pd.concat([part1, part2], axis =1 )

In [163]:
#df_no_miss.to_csv("../data1/OM_target_FB.csv", index = False)
df_no_miss.to_csv("../data1/PM_target_FB.csv", index = False)
#df_no_miss.to_csv("../data1/CF_target_FB.csv", index = False)